.venv/
venv/
__pycache__/
*.pyc
.venv/
venv/
data/raw/*
!data/raw/tickets.csv
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
.env
mlruns/
*.log
.DS_Store
.ipynb_checkpoints/
mlflow/mlflow.db
mlflow/artifacts/
mlflow/mlruns/